.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
/*复用productlist的模板*/
.product-list-title {
  background-color: #ebebeb;
  height: 0.50666667rem;
  background-image: linear-gradient(to bottom, #ebebeb, #ffffff, #cccccc);
  border-top: 0.01333333rem solid #ebebeb;
  border-bottom: 0.01333333rem solid #cccccc;
  line-height: 0.48rem;
  padding-left: 0.10666667rem;
  font-size: 14px;
}
.product-list-title .select {
  float: right;
  margin-right: 0.10666667rem;
  height: 0.37333333rem;
  line-height: 0.37333333rem;
  display: block;
  background-color: #d0d0d0;
  background: linear-gradient(to bottom, #d7d7d7, #f5f5f5);
  border-bottom: 0.01333333rem solid #bababa;
  padding: 0 0.21333333rem;
  box-shadow: 0 1px 2px #888;
  text-align: center;
  border-radius: 0.06666667rem;
  font-size: 14px;
  margin-top: 0.05333333rem;
  border: none;
}
.product-bijia {
  background-color: #fff;
  position: relative;
}
.product-bijia .bijia-name {
  width: 90%;
  height: 2.66666667rem;
  font-size: 17px;
  margin: 0 auto;
  text-align: center;
  padding-top: 0.21333333rem;
}
.product-bijia .bijia-img {
  height: 2.26666667rem;
  width: 2.26666667rem;
  margin: 0 auto;
}
.product-bijia .bijia-collect {
  position: absolute;
  bottom: 0;
  right: 0.13333333rem;
}
.product-bijia .bijia-collect img {
  width: 0.52rem;
  height: 0.52rem;
}
.buy-bijia {
  overflow: hidden;
  width: 100%;
  height: 0.45333333rem;
  background-color: #ffbb00;
  margin-top: 0.26666667rem;
  border-top: 0.01333333rem solid #ff0000;
  border-bottom: 0.01333333rem solid #ff0000;
  font-size: 15px;
  line-height: 0.45333333rem;
  background: linear-gradient(to bottom, #ffd050, #ffbb00);
}
.buy-bijia a {
  display: block;
  float: left;
  margin: 0 auto;
  width: 33.3%;
  text-align: center;
  color: #fff;
  height: 0.45333333rem;
}
.buy-bijia a:nth-child(2) {
  border-left: 0.01333333rem solid #ff0000;
  border-right: 0.01333333rem solid #ff0000;
}
.buy-bijia a.current {
  background-color: #ffbb00;
  background: linear-gradient(to bottom, #ffa632, #ff9000);
}
/*合作商城*/
table {
  margin-top: 0.06666667rem;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 16px;
  height: 0.32rem;
}
table .p_pic {
  padding-left: 0.13333333rem;
  border-bottom: 0.01333333rem solid #bbbbbb;
  text-align: center;
}
table .p_pic img {
  width: 0.21333333rem;
  height: 0.21333333rem;
}
table .red {
  color: #d10311;
  text-align: right;
  padding-right: 15px;
}
table .tab2 {
  font-size: 14px;
  color: #888;
  border-bottom: 0.01333333rem solid #bbbbbb;
}
td {
  line-height: 0.29333333rem;
}
.note-bijia {
  background-color: #fff;
  padding: 0.10666667rem 0.13333333rem;
  line-height: 0.24rem;
  color: #888;
  font-size: 12px;
}
/*网友评价类*/
.comment-bijia-title {
  border-top: 0.05333333rem solid #7a7a7a;
  margin-top: 0.06666667rem;
}
.comment-bijia-title div {
  height: 0.45333333rem;
  line-height: 0.45333333rem;
  background: #ccc;
  text-align: center;
  font-size: 14px;
  border-top: 0.01333333rem solid #ffffff;
}
.comment-bijia-list {
  background: #fff;
}
.comment-bijia-list li {
  font-size: 12px;
  color: #666;
  padding: 0.13333333rem;
  padding-bottom: 0;
  line-height: 0.24rem;
  margin-top: 0.04rem;
  border-bottom: 0.01333333rem solid #cccccc;
}
.comment-bijia-list li .com-content {
  line-height: 0.29333333rem;
  padding-top: 0.06666667rem;
  color: #000;
}
.comment-bijia-list .bijia-more {
  padding: 0 0.10666667rem;
  margin-top: 0.21333333rem;
}
.comment-bijia-list .bijia-more .more {
  display: block;
  height: 0.42666667rem;
  line-height: 0.42666667rem;
  background-color: #d4d4d4;
  background: linear-gradient(to bottom, #f1f1f1, #d4d4d4);
  border-bottom: 0.01333333rem solid #bababa;
  box-shadow: 0 0 0.01333333rem #666666;
  border-radius: 0.06666667rem;
  text-align: center;
  overflow: hidden;
  font-size: 14px;
}
