.cate-list-all .cate-list {
  border-radius: 0.06666667rem;
  background: #ededed;
  border: 0.01333333rem solid #cccccc;
  font-size: 0.18666667rem;
  color: #666;
}
.cate-list-title .title {
  font-size: 0.21333333rem;
  height: 0.53333333rem;
  line-height: 0.53333333rem;
  color: #000;
  padding-left: 0.21333333rem;
  display: block;
  border-bottom: 0.01333333rem solid #cccccc;
  font-weight: bold;
}
.cate-list-content {
  background: #fff;
}
.cate-list-content li {
  border-right: 0.01333333rem solid #cccccc;
  border-bottom: 0.01333333rem solid #cccccc;
  width: 33.3%;
  float: left;
  height: 0.53333333rem;
  text-align: center;
  line-height: 0.53333333rem;
}
.cate-list-content li a {
  font-size: 0.18666667rem;
  display: block;
  width: 100%;
  color: #333;
}
.cate-list-content.move {
  display: none;
}
