
.best-brand{
   border:1/@base solid #c8c8c8;
   height: 36/@base;
   line-height: 36/@base;
   font-size: 14/@base;
   padding-left: 10/@base;
   color: #874604;
   background: #f3f3f3;
   font-weight: bold;
}
.brand-list{
    background-color: #fff;
    .brand-list-tit{
        .brand-info{
            padding: 10/@base;
            border-bottom: 1/@base solid #e7e7e7;
            a{
                height: 40/@base;
                color: #000;
                font-size: 14/@base;
                padding-left: 16/@base;
                display: block;
                position: relative;
                em{
                    display: inline-block;
                    width: 20/@base;
                    height: 20/@base;
                    text-align: center;
                    color: #fff;
                    line-height: 20/@base;
                    vertical-align: top;
                    margin-right: 10/@base;
                    background-color: #ccc;
                    &.top1{
                        background: #f10e0e;
                    }
                    &.top2{
                        background-color: #ff9314;
                    }
                    &.top3{
                        background: lime;
                    }
                }
               .icon{
                    position: absolute;
                    right: 10/@base;
                    top: 45%;
                    width:16/@base ;
                    height: 16/@base;
                    background: url("../images/arrow1.gif") no-repeat;
                }
                .info{
                    display: inline-block;
                    .tit{
                        color: #000;
                        font-size: 16/@base;
                    }
                    p{
                        color: #999;
                        margin-top:3/@base;
                        font-size: 14/@base;
                    }
                }
            }
        }
    }
}
